.block {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.head {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	align-items: center;

	width: 100%;

	border-radius: 2px;
	border-bottom: 2px solid #707070;
}

.userName {
	font-size: 24px;
}

.status {
	color: #16e5e5;

	font-size: 16px;
}

.icon {
	margin-right: 5px;
}

.profileInfo {
	justify-content: flex-start;
	
	padding: 10px 0;
}

.label {
	color: #707070;

	font-size: 14px;
	
	text-align: left;
}

.value {
	color: #F0F0F0;
	
	font-size: 14px;
	padding-left: 50px;
	
	text-align: right;
}
