.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	justify-content: center;
	
	height: 50px;	
	width: 100%;
	
	background-color: #1f1f1f;
}

.header__bar{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	width: 1080px;
	padding: 5px;
}

.header__logo {
	cursor: pointer;
	
	align-self: center;
	
	background-color: #E53D00;
	border-radius: 50%;
	height: 100%;
}